
:root {
    --blur: 24px;
    --font-color: #111;
    --body-bg: #fff;
    --blur-bg: rgba(255, 255, 255, .34);
    --bookmark-size: 14px;
    --bookmark-height: 32px;
    --bookmark-item: 24px;
    --primary-color: #1461d5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #111;
        --body-bg: #000;
        --blur-bg: rgba(255, 255, 255, .34);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    min-width: 600px;
    color: var(--font-color);
    background: var(--body-bg);
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    animation: enter-app .6s forwards ease;
    /*box-shadow: 0 -20px 30px 20px rgba(0, 0, 0, .1) inset;*/
}

@keyframes enter-app {
    to { opacity: 1; }
}

.bg-blur {
    background-color: var(--blur-bg);
    backdrop-filter: blur(var(--blur));
    background-size: 150% 150%;
}


