
:root {
    --blur: 24px;
    --font-color: #111;
    --body-bg: #fff;
    --blur-bg: rgba(255, 255, 255, .4);
    --bookmark-size: 16px;
    --bookmark-height: 40px;
    --bookmark-item: 28px;
    --primary-color: #1461d5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #111;
        --body-bg: #000;
        --blur-bg: rgba(255, 255, 255, .4);
    }
}

@font-face {
    font-family: "AllertaStencil-Regular";
    src: url("../assets/AllertaStencil-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    min-width: 600px;
    color: var(--font-color);
    background: var(--body-bg);
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
    background-color: #fff;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    animation: enter-app .3s forwards ease;
}

@keyframes enter-app {
    to { opacity: 1; }
}


